@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

main {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 15px 30px 10px hsla(244, 76%, 8%, 0.464);
    
    width: 350px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;

    margin: 0;
    padding: 25px;
    border-radius: 20px;
}

h1 {
    font-weight: 600;
    color: white;
    margin: 0;
    font-size: 1.45rem;
    margin-top: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

#preview-image {
    border-radius: 10px;
    width: 100%;
    display: block;
}

.img-container {
   position: relative;
   width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 10px;
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
    transition: 0.5s ease;
}

.img-container:hover {
    cursor: pointer;
}

.img-container:hover .overlay {
    opacity: 0.5;
}

#icon-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    opacity: 0;
}

.img-container:hover #icon-view {
    opacity: 1;
}

/* Description Area */



.sep-line {
    background-color: hsl(215, 32%, 27%);
    width: 100%;
    height: 2px;
    margin: 25px 15px 5px 15px;
    align-self: center;
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    padding: 0;
}

/* Stat Area */



.stat-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 30px;
}

.price {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price p {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    height: 100%;
    margin-left: 7.5px;
}

.price img {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 3px 0px;

}

.time-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-left p {
    margin-left: 10px;
}


/* Creator Area */

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    font-size: 1.1rem;
}

.creator img {
    height: 35px;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.cr-name {
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.cr-name:hover {
    color: hsl(178, 100%, 50%);
}

/* Footer Area */

footer {
    position: absolute;
    bottom: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}